:root {
  --bg-color: #1a1d22;
  --font-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}
.App {
  /* height: 100vh; */
  transition: all 0.5s;
}
.App.dark {
  background-color: var(--bg-color);
}
.App.light {
  background-color: rgb(211, 211, 211);
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #1a1d2293;
  backdrop-filter: blur(20px);
  justify-content: space-between;
  z-index: 100;
}
.navbar.light {
  background-color: rgba(211, 211, 211, 0.7);
}

.navbar__logo {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 100%;
  margin: 15px;
}

.navbar_links {
  display: flex;
  flex-direction: row;
}

.navbar__links__item {
  list-style: none;
  display: inline-block;
  margin: 15px;
  margin-top: 30px;
}

.navbar__links__item.light > * {
  color: var(--bg-color);
}
.navbar__links__item > * {
  color: white;
  text-decoration: none;
  opacity: 100%;
  transition: all 0.5s;
}

.navbar__links__item:hover > * {
  opacity: 70%;
}

.navbar__right {
  display: flex;
  direction: row;
}

.navbar__right__user {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px;
}

.navbar_user > * {
  background-color: black;
}

.switch {
  margin: 15px;
  margin-right: 50px;
  margin-top: 20px;
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.main__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 150px;
}

.main__head__heading > h1 {
  display: inline;
  font-size: 50px;
}

.main__head__heading.light > h1 {
  color: #1a1d22;
}

.main__head__para {
  color: rgb(168, 168, 168);
}

.main__backsvg {
  bottom: 300px;
  left: -500px;
}

.main__backsvg > * {
  width: 1500px;
}

.main__img {
  position: relative;
}
