:root {
  --bg-color: #1a1d22;
  --font-color: white;
}
* {
  padding: 0%;
  margin: 0%;
}
.link {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  bottom: 0;
  background-color: aqua;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: all 500ms;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.svg-blob {
  position: absolute;
  z-index: -10;
}

.svg-blob > * {
  position: absolute;
  width: 500px;
}

#svgGlow {
  filter: blur(50px);
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 56px;
  border-radius: 30px;
  background-color: #59b2fa;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: rgb(255, 123, 0);
  transition: 0.4s;
}

.switch input:checked + .slider:before {
  transform: translateX(23px);
  background-color: rgb(251, 255, 0);
}
input:checked + .slider {
  background-color: #032e52;
}

.button {
  position: relative;
  background-color: #00c2ff;
  padding: 12px 36px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  overflow: hidden;
  transition: 0.5s;
}

.button > * {
  color: #1a1d22;
  font-size: 18px;
  transition: 0.5s;
  z-index: 2;
}

.button.light > * {
  color: white;
}

.button.borderless {
  background-color: #00000000;
  border: #00c2ff 2px solid;
  transition: 0.5s;
}

.button.borderless > * {
  color: white;
  transition: 0.5s;
}

.button.borderless.light {
  background-color: #00000000;
  border: #0081a8 2px solid;
}

.button.borderless.light > * {
  color: #1a1d22;
}

.button__ripple {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: ripple-effect ease 1s forwards;
}

@keyframes ripple-effect {
  0% {
    width: 10px;
    height: 10px;
    opacity: 100%;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0%;
  }
}

.button__content {
  pointer-events: none;
  z-index: 2;
}
