.typewriter {
  color: white;
  display: block;
  font-size: 80px;
  margin-left: 30px;
}

.typewriter::after {
  content: "|";
  color: rgb(172, 172, 172);
}
.typewriter.move::after {
  content: "|";
  animation: none;
}

@keyframes cursor-ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media only screen and (max-width: 820px) {
  .typewriter {
    font-size: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .typewriter {
    font-size: 40px;
  }
}
