.home-display {
  color: white;
  background-color: #0f111a;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-display__contents {
  /* background-color: rgb(70, 70, 70); */
  background-color: #090b10;
  height: max-content;
  max-width: 870px;
  width: max-content;
  margin-top: -40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-display__contents > * {
  margin: 15px;
}

.contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  /* background-color: rgb(27, 27, 27); */
  background-color: #0f111a;
  overflow: hidden;
  margin: 10px;
}

.description {
  margin-left: 15px;
}
.description > p {
  margin-right: 10px;
}

.img__back {
  width: 500px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.study > .img__back {
  background-position: center;
  background-image: url(../../assets/study.jpg);
}

.time > .img__back {
  background-position: center;
  background-image: url(../../assets/time.jpg);
}

.news__link > .img__back {
  background-position: center;
  background-image: url(../../assets/news.jpg);
}

.discuss__link > .img__back {
  background-position: center;
  background-image: url(../../assets/discuss.png);
}

@media only screen and (max-width: 920px) {
  .contents {
    flex-direction: column;
  }
}

@media only screen and (max-width: 525px) {
  .content {
    width: 350px;
  }
}

@media only screen and (max-width: 440px) {
  .content {
    width: 320px;
  }

  .content {
    background-color: #090b10;
  }

  .home-display__contents {
    background-color: #0f111a;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}

@media only screen and (max-width: 345px) {
  .content {
    width: 250px;
  }
  .description > h2 {
    font-size: 18px;
  }
}

.home-display__benefits {
  background-color: #090b10;
  height: max-content;
  width: 100%;
  margin-top: 100px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.home-display__img {
  margin: 0px;
  padding: 0px;
  width: 50vw;
}

.home-display__benefits__content {
  margin: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}

@media only screen and (max-width: 750px) {
  .home-display__benefits {
    flex-direction: column;
  }
  .home-display__benefits__content {
    margin-top: -50px;
  }

  .home-display__img {
    margin: -100px;
    padding: 0px;
    width: 60vw;
  }
}
