.home-display {
  color: white;
  background-color: rgb(27, 27, 27);
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-display__contents {
  background-color: rgb(70, 70, 70);
  height: max-content;
  width: max-content;
  margin-top: -40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-display__contents > * {
  margin: 15px;
}

.contents {
  display: flex;
  justify-content: center;
}

.content {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(27, 27, 27);
  overflow: hidden;
  margin: 10px;
}

.description {
  margin-left: 15px;
}
.description > p {
  margin-right: 10px;
}

.img__back {
  width: 500px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.study > .img__back {
  background-position: center;
  background-image: url(../../assets/study.jpg);
}

.time > .img__back {
  background-position: center;
  background-image: url(../../assets/time.jpg);
}

@media only screen and (max-width: 920px) {
  .contents {
    flex-direction: column;
  }
}

@media only screen and (max-width: 525px) {
  .content {
    width: 350px;
  }
}

@media only screen and (max-width: 440px) {
  .content {
    width: 320px;
  }

  .home-display__contents {
    margin-top: 0px;
    width: 100%;
    border-radius: 0%;
  }
}

@media only screen and (max-width: 345px) {
  .content {
    width: 250px;
  }
  .description > h2 {
    font-size: 18px;
  }
}
