.home-display {
  color: white;
  background-color: rgb(27, 27, 27);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-display__contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-display__content > * {
  user-select: none;
  color: white;
}

.home-display__content > p {
  transform: scaleY(0);
  opacity: 0%;
  transition: all 0.5s;
  transform-origin: top;
  user-select: none;
}

.home-display__content:hover > p {
  opacity: 100%;
  transform: scaleY(1);
}

.home-display__content {
  cursor: pointer;
  width: 500px;
  padding: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border-radius: 10px;
}

.time {
  background-image: url(../../assets/time.jpg);
}
.study {
  background-image: url(../../assets/study.jpg);
}
