.study__grade {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #090b10;
}
.study__grade__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  background-attachment: fixed;
  background-image: url("../../assets/studyBooks.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.study__grade__back > h1 {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  font-size: 50px;
}
.study__grade__back > p {
  color: #cbd0e0;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 400px;
}

.study__grade__back > a {
  width: max-content;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.study__badge {
  background-color: #717cb4;
  min-height: 125px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.study__badge__item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.study__badge__item > svg {
  width: 60px;
  margin: 10px;
}

@media only screen and (max-width: 610px) {
  .study__badge {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .study__grade__back > h1 {
    font-size: 40px;
  }
}

.subject__choose {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  min-height: 100vh;
  height: max-content;
}

.subject__choose__item {
  background-color: #0f111a;
  color: white;
  transition: all 0.5s;
}

.subject__choose__item:hover {
  background-color: #2e334b;
  color: white;
}

@media only screen and (max-width: 650px) {
  .subject__choose {
    grid-template-columns: 100%;
  }
}
