* {
  margin: 0px;
}
.container {
  background-color: #1b1b1b;
  color: white;
  width: 100vw;
  height: max-content;
  width: 100%;
}

.container h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

.container h2 {
  font-weight: bold;
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 5px;
}

.container img{
    width: 200px;
    display: inline-block;
    border: solid 3px #9a7c7c;
    border-radius: 10%;
    margin-right: 50px;
    margin-top: 70px;
}
.container img {
  width: 200px;
  display: inline-block;
  border: solid 3px #9a7c7c;
  border-radius: 10%;
  margin-top: 70px;

}

.grades {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* <<<<<<< HEAD */
.grades{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.grades p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3px;
    margin-left: 30px;
    margin-right: 70px;
    
}

.grade{
    display: flex;
    align-items: center;
    
}
.grade {
  display: flex;
  align-items: center;
}

/* @media screen() {max-width: 
    
} */
