.study__main {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #090b10;
}
.topback {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 80vh;
  width: 98vw;
  background-attachment: fixed;
  background-image: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

psdsad {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1px;
  max-width: 555px;
  width: 350px;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  margin-right: 30px;
  max-width: 755px;
  width: 550px;
  font-size: 40px;
}

dsd {
  position: absolute;
  width: 120px;
  height: 30px;
  left: 20px;
  top: 380px;

  background: #d9d9d9;
  border-radius: 60px;
}

.topper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100px;
  width: 100%;
  background-image: url("../../assets/lol.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.fullbody {
  height: 1500px;
  background-color: #090b10;
}
